.heading {
  margin-top: 87px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.image {
  margin-top: 21px;
}

.heading-2 {
  margin-top: 66px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.text-block {
  margin-top: 50px;
  margin-bottom: 71px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.heading-3 {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 2.5px;
}

.section {
  background-image: -webkit-linear-gradient(270deg, #dfd9ee, #dfd9ee);
  background-image: linear-gradient(180deg, #dfd9ee, #dfd9ee);
}

.heading-4 {
  margin-top: 73px;
  margin-bottom: 11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.text-block-2 {
  margin-top: 46px;
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.image-2 {
  margin-top: 61px;
  margin-bottom: 61px;
  text-align: center;
}

.container {
  text-align: center;
}

.map {
  margin-top: 46px;
  margin-bottom: 94px;
}

.heading-5 {
  margin-top: 61px;
  margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
}

.section-2 {
  background-image: -webkit-linear-gradient(270deg, #767986, #767986);
  background-image: linear-gradient(180deg, #767986, #767986);
}

.text-block-3 {
  margin-top: 46px;
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #d1d1d1;
  font-weight: 300;
  text-align: center;
}

.column {
  margin-top: 0px;
}

.row {
  margin-top: 72px;
}

.heading-6 {
  margin-top: 38px;
  font-family: 'Open Sans', sans-serif;
  color: #d1d1d1;
  font-weight: 300;
  text-align: center;
}

.image-3 {
  margin-top: 17px;
  text-align: right;
}

.column-2 {
  text-align: right;
}

.column-3 {
  margin-top: 0px;
  text-align: center;
}

.container-2 {
  text-align: center;
}

.column-5 {
  text-align: right;
}

.column-6 {
  text-align: left;
}

.row-2 {
  margin-bottom: 83px;
}

.heading-7 {
  margin-bottom: 36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.link {
  text-decoration: underline;
}

.link.w--current {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .heading {
    text-align: center;
  }
  .heading-3 {
    margin-right: 110px;
    margin-left: 110px;
    text-align: center;
  }
  .heading-6 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .heading {
    margin-top: 47px;
  }
  .image {
    text-align: center;
  }
  .text-block {
    margin-left: 10px;
  }
  .heading-4 {
    margin-left: 10px;
  }
  .text-block-2 {
    margin-left: 10px;
  }
  .heading-5 {
    margin-left: 10px;
  }
  .text-block-3 {
    margin-right: 158px;
    margin-left: 158px;
  }
  .heading-6 {
    margin: 12px 92px;
    text-align: center;
  }
  .column-2 {
    text-align: center;
  }
  .column-4 {
    text-align: center;
  }
  .image-4 {
    margin-top: 39px;
  }
}

@media (max-width: 479px) {
  .heading {
    margin-top: 35px;
  }
  .heading-3 {
    margin-right: 9px;
    margin-left: 9px;
  }
  .text-block-3 {
    margin-right: 37px;
    margin-left: 37px;
  }
  .heading-6 {
    margin-top: 24px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 20px;
  }
}

