<nav class="menu">
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Donate</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact Us</a></li>
  </ul>  
</nav>
<!-- 
  1) space out
  2) contact us on right hand side
  3) remove left and right white space
  4) match font (sans serif) DONE
  5) color of font DONE
  6) hyperlink DONE
  7) remove underline
  8) padding/margin? to create more space
-->