<nav>
	<ul><!-- float this left -->
	<!-- 	<div class="nav__left"> -->
		<li><a href="/">Home</a></li>
		<li><a href="/about.html">About Us</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Donate</a></li>
		<li><a href="#">Gallery</a></li>
<!-- 		</div> -->
		<li class="nav__right"><a href="mailto:info@harrow-womens-centre.org.uk?subject=Harrow Women's Centre Enquiry">Contact&nbsp;Us</a></li><!-- float this right-->
		 <!-- <li class="nav__right"><a href="mailto:info@harrow-womens-centre.org.uk?subject=Harrow Women's Centre Enquiry"><button class="header__button" type="button" name="button">Contact Us</button></a> -->
	</ul>
</nav>

  <!-- 1) space out
  2) contact us on right hand side DONE
  3) remove left and right white space
  4) match font (sans serif) DONE
  5) color of font DONE
  6) hyperlink DONE
  7) remove underline DONE
  8) padding/margin? to create more space -->
