<section class="slider">
		
	<div class="slider__holder">
	
		<div class="slider_element slider_element--1">	
		<h1 class="slider__heading">"<br>Think like a queen. A queen is not afraid to fail. Failure is another steppingstone to greatness<br>"</h1>
		</div>

		<div class="slider_element slider_element--2">	
	<!--   <h2 class="slider__heading">"Heading 2"</h2> -->
		</div>
		
		<div class="slider_element slider_element--3">	
	<!-- 	 <h3 class="slider__heading">heading 3</h3> -->
		</div>

	</div>

</section>