header, section {
	color: white;
	font-size: 25px;
	text-align: center;
	margin: auto;
	width: 80%;
}

header, nav, section  {
font-family: 'Karla', sans-serif;
}

ul {
/*	list-style-type: none;*/
	margin: 0 10% 0 10%;
	overflow: hidden;
}

ul li {
	display: inline;
	margin-right: 10px;
	list-style-type: none;
	float: left;
}

ul li a:hover {
    opacity: .7;
}