footer {
	background-color: #D9D5F8;
	height: 200px;
	padding: 10px;	
}

.contact {
	color: #575658; 
	padding: 10px;
}

h1.header__headline {
	color: #575658; 
}

.contact__address {
	padding: 10px;
}
.contact__tel {
	float: left;
}

.contact__reachus{
	float:	right;
}


/*<h1 class="header__headline">HARROW WOMEN'S CENTRE</h1>
<p class="contact__address">Andrews Close, Off Bessborough Road, Harrow,HA1 3GE</p>
<p class="contact__tel">Call us: 020 8422 1100</p>
<p class="contact__reachus">How to reach us</p>*/