header {
	width: 100%;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
/*	padding: 0 10 0 10;*/
}

.header__branding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10% 0 10%;
}

.header__logo {
	width: 50px;
	/*margin-right: 20px;*/
}

.header__headline {
	color:  #49257E ;
}