nav	{
	width: 100%;
	display: block;
	background-color: #D9D5F8;
	padding: 5px;
	/*font-family: Lucida Grande;*/
	font-size: 1.6em;
	/*height: 25px;*/
}

ul {
	list-style-type: none;
	margin: 0 10% 0 10%;
}

li {
	display: inline;
	margin-right: 10px;
/*	float: left;*/
}

/*.nav__left {
	float: left;
}*/

/*li.nav__right*/
.nav__right {
	float: right;
}

nav li a {
	color: #575658; 
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}