nav	{
	display: block;
	background-color: #D9D5F8;
	/*padding-top: 5px;*/
	padding: 5px;
	font-family: Lucida Grande;
	font-size: 1.6em;
}

ul {
	list-style-type: none;
	/*margin: 0;*/
	/*padding: 5px;*/
	/*float: right;*/
	/*overflow: hidden;*/
	/*top: 0;*/
	margin: 0 10 0 10;
}

li {
	display: inline;
}

/*li.nav__right*/
.nav__right {
	float: right;
}

li a {
	color: #575658; 
	/*text-align: center;*/
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}