.slider {
  color:  #49257E;
  /*height reduced from 692px*/
  height: 392px;
  overflow: hidden;
  width: 100%;
}

.slider__holder {
  position: relative;
  left: 0;
  width: 100%;
  /*height increased from 50%*/
  height: 100%;
  transition: top 1s;
  top: 0;
}

.slider_element {
  display: inline; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  height: 100%;
  max-width: 100%;
  /*padding: 0 32px 0 32px;*/
}

.slider_element--1 {
	background-image: url(../images/HWC_4@3x.jpg);
}

.slider_element--2 {
	background-image: url(../images/HWC_3@3x.jpg);
}

.slider_element--3 {
	background-image: url(../images/HWC_2@3x.jpg);
}

.slider__heading {
/*  height: 340px;*/
  width: 30%;
  margin: 5px 10% 5px auto;
  padding: 5%;
  background-color: rgba(255, 255, 255, .5);
/*  text-shadow: 0px 0px 10px rgba(0,0,0,.6);*/
/*  font-family: Lucida Grande;*/
  font-size: 30px;
  max-height: 380px;
  position: absolute;
  top: 150px;
  left: 650px;
/*  float: right;*/
  overflow: hidden;
  text-align: left;
}